<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>irBooleans</key>
	<dict>
		<key>irSetTapOutsideOfPopupToDismiss</key>
		<true/>
		<key>irSetHideSharingButtonsAppNameText</key>
		<true/>
	</dict>
	<key>irStrings</key>
	<dict>
		<key>irSetLoginScreenBackgroundImageName</key>
		<string></string>
		<key>irSetNavigationBarBackButtonImage</key>
		<string></string>
		<key>irSetCampaignOrUserErrorAlertTitle</key>
		<string></string>
		<key>irSetCampaignOrUserErrorAlertMessage</key>
		<string></string>
		<key>irSetCampaignOrUserErrorAlertButtonTitle</key>
		<string></string>
		<key>irSetSharingScreenBackgroundImageName</key>
		<string></string>
		<key>irSetRegisterButtonTextFontName</key>
		<string></string>
		<key>irSetRegisterButtonText</key>
		<string></string>
		<key>irSetTextFieldsFontName</key>
		<string></string>
		<key>irSetNameFieldPlaceholderText</key>
		<string></string>
		<key>irSetPhoneFieldPlaceholderText</key>
		<string></string>
		<key>irSetEmailFieldPlaceholderText</key>
		<string></string>
		<key>irSetMailShareButtonImageName</key>
		<string></string>
		<key>irSetMailShareButtonTitleText</key>
		<string></string>
		<key>irSetFBShareButtonImageName</key>
		<string></string>
		<key>irSetFBShareButtonTitleText</key>
		<string></string>
		<key>irSetTwitterShareButtonImageName</key>
		<string></string>
		<key>irSetTwitterShareButtonTitleText</key>
		<string></string>
		<key>irSetSMSShareButtonImageName</key>
		<string></string>
		<key>irSetSMSShareButtonTitleText</key>
		<string></string>
		<key>irSetWhatsAppShareButtonImageName</key>
		<string></string>
		<key>irSetWhatsAppShareButtonTitleText</key>
		<string></string>
		<key>irSetShareButtonImageName</key>
		<string></string>
		<key>irSetShareButtonsTextFontName</key>
		<string></string>
		<key>irSetReferralStatsButtonFontName</key>
		<string></string>
		<key>irSetReferralStatsButtonText</key>
		<string></string>
		<key>irSetSharingLinkFontName</key>
		<string></string>
		<key>irSetLinkslabelTextFontName</key>
		<string></string>
	</dict>
	<key>irNumbers</key>
	<dict>
		<key>irSetNavigationBarDoneButtonImageSize</key>
		<integer>0</integer>
		<key>irSetMobileNumberMinLength</key>
		<integer>10</integer>
		<key>irSetMobileNumberMaxLength</key>
		<integer>10</integer>
		<key>irSetRegisterButtonTextFontSize</key>
		<integer>0</integer>
		<key>irSetRegisterButtonBorderWidth</key>
		<integer>0</integer>
		<key>irSetRegisterButtonBorderRadius</key>
		<integer>0</integer>
		<key>irSetTextFieldsFontSize</key>
		<integer>0</integer>
		<key>irSetSharingButtonsViewTopMargin</key>
		<integer>0</integer>
		<key>irSetSharingButtonsViewBottomMargin</key>
		<integer>0</integer>
		<key>irSetShareButtonsIconSize</key>
		<integer>0</integer>
		<key>irSetShareButtonsTextFontSize</key>
		<integer>0</integer>
		<key>irSetShareButtonsImageAndTextPadding</key>
		<integer>0</integer>
		<key>irSetReferralsStatsButtonTopMargin</key>
		<integer>0</integer>
		<key>irSetReferralsStatsButtonBottomMargin</key>
		<integer>0</integer>
		<key>irSetReferralStatsButtonFontSize</key>
		<integer>0</integer>
		<key>irSetSharingLinkBoxTopMargin</key>
		<integer>0</integer>
		<key>irSetSharingLinkBoxBottomMargin</key>
		<integer>0</integer>
		<key>irSetSharingLinkBoxBorderLineWidth</key>
		<integer>0</integer>
		<key>irSetSharingLinkBoxBorderCornerRadious</key>
		<integer>0</integer>
		<key>irSetSharingLinkBoxViewDividerWidth</key>
		<integer>0</integer>
		<key>irSetSharingLinkFontSize</key>
		<integer>0</integer>
		<key>irSetLinkslabelTextFontSize</key>
		<integer>0</integer>
		<key>irSetShareLinkBoxViewHeight</key>
		<integer>0</integer>
		<key>irSetLinkslabelTopMargin</key>
		<integer>0</integer>
		<key>irSetLinkslabelBottomMargin</key>
		<integer>0</integer>
	</dict>
	<key>irColors</key>
	<dict>
		<key>irSetViewControllerMainViewBgColor</key>
		<string></string>
		<key>IR_SetNavigationDoneButtonTextColor</key>
		<string></string>
		<key>irSetRegisterButtonTextColor</key>
		<string></string>
		<key>irSetRegisterButtonBgColor</key>
		<string></string>
		<key>irSetRegisterButtonBorderColor</key>
		<string></string>
		<key>irSetTextFieldsBgColor</key>
		<string></string>
		<key>irSetTextFieldsTextColor</key>
		<string></string>
		<key>irSetTextFieldsPlaceHolderTextColor</key>
		<string></string>
		<key>irSetSharingLinkBoxBorderColor</key>
		<string></string>
		<key>irSetSharingLinkBoxViewDividerColor</key>
		<string></string>
		<key>irSetSharingLinkTextColor</key>
		<string></string>
		<key>irSetLinkslabelTextColor</key>
		<string></string>
		<key>irSetLinkslabelDividerColor</key>
		<string></string>
		<key>irSetLinkslabelSelectedLinkTextColor</key>
		<string></string>
	</dict>
</dict>
</plist>
